<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>QuestionTime</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id" content="555702065730-cenf5paf61i7iapdrpqoabet8leejerr.apps.googleusercontent.com">
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>QuestionTime</h1>
    </header>
    <main>
    </main>
    <div id="MessageBoard"></div>    
    <script src="/main.js"></script>
  </body>
</html>
