<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>QuestionTime</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id" content="555702065730-cenf5paf61i7iapdrpqoabet8leejerr.apps.googleusercontent.com">
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form action="/slackPoll" method="post">
      <textarea style="width: 400px; height: 400px;" name="listText"></textarea>
      <button>
        Submit
      </button>
    </form>
    </div>
  </body>
</html>
