* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
  background: #e9ebee;
  margin-top: 10px;
  overflow: hidden;
}

h1 {
  color: #333;
  max-width: calc(100% - 5rem);
  /*   line-height: 1.1; */
  font-size: 14pt;
}

#MessageBoard {
  width: 50vw;
  max-width: 600px;
  min-width: 500px; 
  margin:auto;
  height: 90vh;
}

.title {
  margin-bottom: 10px;
}

.notConnectedBanner {
  position: absolute;
  font-weight: bold;
  color: #fff;
  background: #f00;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.titleText {
  color: #333;
  font-size: 14pt;
  font-weight: bold;
  display: inline-block;
  width: 75%;
}

.logoutButton {
    
}


.userImage {
  height: 40px;
  width: 40px;
  border-radius: 4px;
  border: 1px solid lightgray;
}

.postArea {
  height: 60px;
  margin-top: 10px;
}

.userPostImage {
  height: 100%;
  width: 60px;
  border-radius: 4px;
  border: 1px solid lightgray;
}


.postButton {
  border: 0;
  margin-left: 10px;
  vertical-align: top;
  height: 100%;
  background-image: url(https://cdn.glitch.com/14048558-fbee-48a6-96cb-ee3d5b1e0a53%2FSendIcon.png?v=1587787276285);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  filter: none;
  
  width: 100px;
  background-color: #fff0;  

  position: relative;
  top: -67px;
  left: 76%;
}

.postButton:hover {
  background-size: 40%;
}

.pollButton {
  border: 0;
  margin-left: 10px;
  vertical-align: top;
  height: 100%;
  background-image: url(https://cdn.glitch.com/14048558-fbee-48a6-96cb-ee3d5b1e0a53%2Fclipart1828482.png?v=1589078532945);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  filter: none;
  
  width: 50px;
  background-color: #fff0;  

  position: relative;
  top: -150px;
  left: 73%;
}

.pollButton:hover {
  background-size: 60%;
}

.messageField {
  height: 100%;
  width: calc(93% - 65px);
  resize: none;
  border: 1px lightgray solid;
  border-radius: 10px;

  padding: 10px;
  margin-left: 5px;
  font-family: sans-serif;
  font-size:11pt;
  padding-right: 65px;
}

.messageList {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}

.message {
  width: 93%;
  min-height: 50px;
  background: #fff;
  margin-top: 10px;
  padding: 6px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.message .nameDateContainer {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.message .name {
  font-size: 12pt;
  font-weight: bold;
  color: #385898;
  line-height: 1.4;
}

.message .date {
  font-size: 12px;
  color: #616770;
  line-height: 1;
}

.message .text {
  color: #1d2129;
  font-size: 11pt;
}

.favesArea {
  font-size: 10px;
}

.faveButton {
  display: inline-block;
}

.favesText {
  display: inline-block;
  font-size: 10px;
  color: #666;
  margin-left: 5px;
}

.characterCounter {
  position: relative;
  top: -150%;
  font-size: 10px;
  color: #999;
  right: -13%;
}
